html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: var(--background);

  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

.visualyHidden {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

:root {
  --black: #3b434e;
  --gray: #a4a4a4;
  --light-gray: #ebebeb;
  --dark-gray: #787d85;
  --white: #fff;
  --primary: #6849df;
  --primary-hover: #6344df;
  --red: #fc836d;
  --light-red: #fea291;
  --green: #017a4b;
  --light-green: #c8f8e4;
  --font-family: "Noto Sans KR", sans-serif;
  --background: #e5e5e5;
}
